html,
body,
#renderCanvas
{
	margin: 0;
	padding: 0;
	overflow: hidden;
	touch-action: none;
	overscroll-behavior: none;
	outline: none;
	background: #000;
}

#renderCanvas
{
	position: absolute;
}

#sidebar
{
	background: #444;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	width: 190px;
	padding: 5px;
	color: #ccc;
	font-family: arial, sans serif;
	font-size: 9pt;
}

#status
{
	color: #ccc;
	margin: 10px 0 0 0;
}

div.head
{
	display: block;
	text-align: center;
	color: #fff;
	background: rgba(0,0,0,0.2);
	padding: 2px 0 2px 0;
	margin: 0 0 5px 0;
	font-weight: bold;
}

div.box
{
	margin: 0 0 5px 0;
	background: rgba(0,0,0,0.2);
	padding: 0 0 5px 0;
}

label
{
	padding: 0 2px 0 0;
}

input
{
	background: #222;
	border: 1px solid #111;
	color: #ccc;
	font-family: arial, sans serif;
	font-size: 9pt;
	width: 40px;
	text-align: right;
}

a,
a:active,
a:visited
{
	background: rgba(0,0,0,0.2);
	color: #4bf;
	text-decoration: none;
}

a:hover
{
	background: #000;
	color: #fff;
}

#points a
{
	color: #fff;
}

#points a:hover
{
	background: #fa0;
	color: #000;
}

#points a.selected
{
	background: #0e0;
	color: #000;
}

#points a.selected_p1
{
	background: #e00;
	color: #000;
}

#points a.selected_p2
{
	background: #f0c;
	color: #000;
}

#points a.selected_p3
{
	background: #84f;
	color: #000;
}

#points a.selected_p4
{
	background: #4af;
	color: #000;
}

#faces a
{
	color: #fff;
}

#faces a.selected
{
	background: #fff;
	color: #000;
}

#groups a
{
	color: #fff;
}

#groups a.selected
{
	background: #fff;
	color: #000;
}

#data
{
	background: #222;
	border: 1px solid #111;
	color: #ccc;
	width: 182px;
	height: 100px;
	font-size: 7pt;
}

#status
{
	font-weight: bold;
	background: rgba(0,0,0,0);
	
	animation-duration: 0.5s;
	animation-name: slidein;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}

@keyframes updated
{
	0%
	{
		background: rgba(0,0,0,0.5);
	}
	100%
	{
		background: rgba(0,0,0,0);
	}
}

hr
{
	border-top: none;
	border-right: none;
	border-bottom: 2px dotted #222;
	border-left: none;
}
